/* Dashboard.css */

.dashboard {
  background-color: #f4f7fe;
  padding: 64px; /* Default padding */
}


.card {
  background-color: #fff;
    height: 250px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 1200px) {
  .dashboard {
    padding: 48px;
  }
}

@media (max-width: 992px) {
  .dashboard {
    padding: 32px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    padding: 24px;
  }
  .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .dashboard {
    padding: 16px;
  }
  .card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .dashboard {
    padding: 12px;
    margin-top: 30px;
  }
  .card {
    width: 90%;
    width: auto;
    margin-left: 60px;
    margin-right: auto;
  }
}
